// Custom styles.
code {
    color: #ff7600;
}

// 文章```代码块顶部样式
.highlight figcaption {
    margin: 0em;
    padding: 0.5em;
    border-bottom: 1px solid #e9e9e9;
}

//热评文章
.ds-top-threads li a {
    padding-left: 5px;
    transition: border-width 0.2s linear 0s, color 0.2s linear 0s;
    border-bottom: none;
}
.ds-top-threads li a:hover {
    border-left: 8px solid #4d768c;
}

//首页尾部样式
.footer {
    background: none;
    font-size: 16px;
}
.footer-inner {
    font-family: 'Comic Sans MS','Playball';
    text-align: center;
    color: #4b5cc4;
}

// 文章背景
.post-block {
    background: rgba(255,255,255,0.75);    
}

// 文章标题字体
.posts-expand .post-title {
    font-size: 26px;
    font-weight: 700;
}

// 文章标题动态效果
.posts-expand .post-title-link::before {
    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}

// 文章内标题自动添加序号
.post-body {counter-reset: h2}
  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}
  h2:not(.post-title):not(.posts-collapse .collection-title):before {counter-increment: h2; content: counter(h2) ". "}
  h3:not(.posts-collapse .collection-title):before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}
  h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
  
// 文章内链接文本样式
.post-body a{
    border-bottom: none;
  &:hover {
    border-bottom: 1px solid #fc6423;
  }
}

// 页面底部页码
.pagination {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}
.pagination .page-number.current {
    border-radius: 100%;
}
.pagination .next, .pagination .page-number, .pagination .prev {
    margin-bottom: 10px;
    border: none;
}

// 文章元数据（meta）留白更改
.posts-expand .post-meta {
    margin: 10px 0px 20px 0px;
}

// [Read More]按钮样式
.post-button .btn {
    font-size: 15px;
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
    border-bottom: 2px solid #2a3a4a;

    &:hover {
        color: #fff;
        background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
        border-bottom: 2px solid #2a3a4a;
    }
}

//相关文章
.popular-posts-header {
    margin-top: 0px;
}
.post-body .note {
    margin-bottom: 5px;
}

// 文章底部的tags
.posts-expand .post-tags {
    margin-top: 0px;
}
// 文章底部留白更改
.post-widgets {
    margin-top: 0px;
}

// 文章底部页面跳转
.post-nav-item a {
    font-weight: bold;
}
.post-nav-item a:hover {
    font-weight: bold;
}

// 右下角返回顶部按钮样式
.back-to-top {
    line-height: 1.5;
    right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    box-shadow: 0px 0px 10px 0px #aaaaaa;
}

//手机页面菜单图标
.btn-bar {
    background-color: #1a2a3a;
}
.site-nav-toggle {
    top: 30%;
}

//侧栏
.header-inner {
    background: rgba(255,255,255,0.75);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
}
.sidebar-inner {
    background: rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
}

// 侧栏站点描述
.site-meta {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.site-title {
    color: #1a2a3a;
    font-weight: bold;
}
.site-subtitle {
    color: #1a2a3a;
    font-family: 'Seaweed Script';
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 13px;
}

// 侧栏站点文章、分类、标签
.site-state-item {
    padding: 0px 15px;
    border-left: 1.5px solid rgb(161, 102, 171);
}

// 侧栏社交链接
.links-of-author {
    margin-top: 0px;
}
links-of-author-item .exturl, .links-of-author-item a {
    padding: 0 20px;
}

// 侧栏超链接样式
.sidebar a {
    border-bottom: none;
    color:#4b5cc4;
    
    &:hover {
        color:#fc6423;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}

// 时间轴年
.posts-collapse .collection-title h2 {
    margin-left: -20px;
    width: 33%;
    padding: 5px 20px 5px 0;
    text-align: right;
    background: #eee;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
    transition: all 1s cubic-bezier(0.17, 0.08, 0.04, 0.99);
    
    &:hover {
        width: 66%;
        background: rgba(255,255,255,0.5);
    }
}

@media screen and (max-width: 1200px) {
    .posts-collapse .collection-title h2 {
        width: 57%;
            
        &:hover {
            width: 90%;
        }
    }
}

// 时间轴月
.posts-collapse .collection-title h3 {
    margin-left: -20px;
    width: 20%;
    padding: 5px 20px 5px 0;
    text-align: right;
    background: #eee;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
    transition: all 1s cubic-bezier(0.17, 0.08, 0.04, 0.99);

    &:hover {
        width: 45%;
        background: rgba(255,255,255,0.5);    
    }
}

@media screen and (max-width: 1200px) {
    .posts-collapse .collection-title h3 {
        width: 27%;
            
        &:hover {
            width: 62%;
        }
    }
}

// 时间轴左边线条
.posts-collapse::after {
    margin-left: -2px;
    background-image: linear-gradient(180deg,#f79533 0,#f37055 15%,#ef4e7b 30%,#a166ab 44%,#5073b8 58%,#1098ad 72%,#07b39b 86%,#6dba82 100%);
}
.page-archive .posts-collapse::after {
    background: linear-gradient(180deg,#f79533 0,#f37055 15%,#ef4e7b 30%,#a166ab 44%,#5073b8 58%,#1098ad 72%,#07b39b 86%,#6dba82 100%);
}

// 时间轴年月圆点
.posts-collapse .collection-title::before {
    background: #8d4bbb;
    margin-left: -6px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px #fff;
    z-index: 500;
}
.posts-collapse .post-header::before {
    background: #8d4bbb;
    margin-left: -6px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px #fff;
    z-index: 500;
}

// 时间轴文章标题底部虚线
.posts-collapse .post-header:hover {
    border-bottom-color: rgb(161, 102, 171);
}

// 本地搜索框
.local-search-popup .search-icon, .local-search-popup .popup-btn-close {
    color: rgb(247, 149, 51);
}
.local-search-popup .popup-btn-close {
    border-left: none;
}

/* 设置滚动条的样式 */
/* 参考https://segmentfault.com/a/1190000003708894 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    background: #eee;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb:hover {
    background-color: #fc6423;
}

// 自定义emoji样式
img#github-emoji {
    margin: 0px;
    padding: 0px;
    display: inline !important;
    vertical-align: text-bottom;
    border: none;
    cursor: text;
    box-shadow: none;
}

// 归档页十二生肖
.chinese-zodiac {
    float: right;
}
@font-face {
  font-family: 'chinese-zodiac';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/cxyzzz/assets@18.09.23/fonts/chinese-zodiac.eot');
  src: url('https://cdn.jsdelivr.net/gh/cxyzzz/assets@18.09.23/fonts/chinese-zodiac.eot') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/cxyzzz/assets@18.09.23/fonts/chinese-zodiac.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/cxyzzz/assets@18.09.23/fonts/chinese-zodiac.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.symbolic-animals {
  display: inline-block;
  font: normal normal normal 14px/1 chinese-zodiac;
  font-size: 70px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dragon:before { content: '\e806'; }
.icon-tiger:before { content: '\e809'; }
.icon-pig:before { content: '\e810'; }
.icon-horse:before { content: '\e813'; }
.icon-rat:before { content: '\e816'; }
.icon-goat:before { content: '\e818'; }
.icon-snake:before { content: '\e820'; }
.icon-ox:before { content: '\e822'; }
.icon-dog:before { content: '\e825'; }
.icon-rabbit:before { content: '\e826'; }
.icon-monkey:before { content: '\e829'; }
.icon-rooster:before { content: '\e82f'; }

div#days {
    font-size: small;
    color: coral;
}

//评论区
.v .vwrap {
    padding: 5px 20px !important;
    border: 1px solid #eee !important;
    border-radius: 10px !important;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
}
.comments{
    background: transparent;
    margin-left: 5px;
    background: rgba(255,255,255,0.3);
}
.vcontent p {
    margin-right: 10px;
}
.v .vlist .vcard .vh {
    padding-left: 10px !important;
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
    border-radius: 10px !important;
    background: rgba(255,255,255,0.3) !important;
    border: 1px dotted #eee !important;
}
.v .vlist .vcard .vh .vmeta {
    margin-right: 15px;
    border-bottom: 0px !important;
}
.v .vlist .vcard .vhead {
    margin-top: 10px !important;
}
.v .vlist .vcard .vhead .vnick {
    color: #fc6423 !important;
}
.v .vlist .vcard .vhead .vsys {
    background: rgba(255,255,255,0.3) !important;
    border: 1px solid #aaa !important;
    color: #aaa !important;
    line-height: 1.2 !important;
}
.v .vlist .vcard .vquote {
    margin: 10px 10px 15px 15px;
    border-left: 1px dashed #f9a972 !important;
    padding-left: 5px !important;
}

// valine评论背景
#veditor {
    background-image: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/comment-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255,255,255,0);
    resize: vertical;
}

// valine 评论输入框选中
input:focus, textarea:focus {
    border: 1px solid #008deb;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}

// 文章图片
.posts-expand .post-body img {
    height: auto;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: rgb(170, 170, 170) 0px 0px 14px 0px;
    border-radius: 20px;
    max-width: 90%;
    transition: all 0.2s linear;
    
    &:hover {
        border-radius: 0;
        opacity: 1;
        border: 1px solid #4b5cc4;
    }
}

// summary 文字颜色
summary {
    color: #4b5cc4;
    text-align: center;

    &:hover {
        color: #fc6423;
        border-bottom: 1px solid #fc6423;
    }
}

// 背景
// body::before {
//     content: "";
//     display: block;
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -99;
//     background: url(https://co5.me/css/bk.jpg) no-repeat center center;
//     background-size: cover;
// }

// 菜单栏样式
.menu .menu-item a:hover, .menu-item-active a {
    background: #eee;
    border-radius: 50px 0 0 50px;
    border-color: transparent;
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.3);
}
.menu .menu-item a {
    border-radius: 50px 0 0 50px;
}
