// 
// Variables
// =================================================
$black-light = #2f3f4f;
$black-dim = #1f2f3f;
$black-deep = #0f1f2f;
// <body> 中全局文字颜色
$text-color = #1a2a3a;
// 链接颜色
$link-color = #4b5cc4;
$link-hover-color = #fc6423;
// 选中文字颜色
$selection-bg = #b0a4e3;
$selection-color = $text-color;
// 代码和代码块
$code-border-radius = 5px;
// 按钮
$btn-default-color = #1a2a3a;
$btn-default-border-color = #2a3a4a;
// 页面底部页码
$pagination-link-hover-color = $link-hover-color;
$pagination-active-bg = #4a5a6a;
$pagination-active-border = #4a5a6a;
// Site Meta
$brand-color = #f2f2f6;
$brand-hover-color = #f2f2f6;
$brand-bg = black;
$site-subtitle-color = #f1f2f6;
$subtitle-color = #f2f1f6;
// Sidebar
$sidebar-nav-color = $link-color;
$sidebar-nav-hover-color = $link-hover-color;
$site-author-name-color = #405170;
$site-description-color = $link-hover-color;
$site-description-margin-top = 15px;
$toc-link-color = $text-color;
$toc-link-hover-color = $link-hover-color;
$toc-link-hover-border-color = $link-hover-color;
$toc-link-active-color = $link-hover-color;
$toc-link-active-border-color = $link-hover-color;
$toc-link-active-current-color = $link-hover-color;
$toc-link-active-current-border-color = $link-hover-color;
// Back to top
$b2t-color = $text-color;
$b2t-bg-color = rgba(247, 149, 51, 0.75);
$b2t-sidebar-bg-color = rgba(247, 149, 51, 0.75);
// Variables of Gemini scheme
// =================================================
$border-radius-inner = 8px;
$border-radius = 8px;